.header-item{
    width:auto;
    
    margin-right: 30px;
    margin-right:30px;
    
}
.header-item > p{
 font-weight: 400;
 font-size: 12;
 display: inline-block;
 white-space: nowrap;
 color:#454E6D;
}
.header-item > p:hover{
    color:#FF1616;
}