.container-header{
  display: flex;
  height:50px;
  background-color:#fff;
  padding: 20px;
  align-items: center;
  padding-left: 70px;
  padding-right:70px;
  justify-content: space-between;
  
}

.header-right{
  display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
  }
.header-left{
  display: flex;
  flex-direction: row;
  justify-content: space-around  ;
} 

.header-button{
  height:40px;
  width:50%;
  border:none;
  border-radius:50px;
  background-color: #FF1616;
  margin-left:30px;
  
 
}
.header-button>p{
  font-family: 'Roboto',sans-serif;
  color: #fff;
  font-size:15px;
  font-weight: 600;
  margin-top: auto;
  margin-bottom: auto;
}
