.sliding-book-parent{
    margin-right: 100px;
    margin-left:100px;

}
.sliding-book{
    margin-right: 100px;
    margin-left:100px;
}
.sliding-book-item1{
    height:500px;
    background-color: tomato;
}
.sliding-book-item2{
    height:500px;
    background-color:turquoise;
}
.sliding-book-item3{
    height:500px;
    background-color:violet;
}